@charset "utf-8";
/* about.css - about페이지 */

/*페이징 원 배경색*/
.sideCircle.about {
    background-color: #85AEBF;
}

/*프로필 이미지 박스*/
.profile {
    width: 43.5vmin;
    /*    height: 53vmin;*/
    position: relative;
    left: 24vmin;
    top: 8vmin;
    transform: rotate(3deg);
}

.profile img {
    width: 100%;
}

/*따옴표*/
.quotes {
    position: absolute;
    display: inline-block;
    width: 8.5vmin;
    left: 3.5vmin;
    top: 13.5vmin;
}

.quotes img {
    width: 100%;
}

/*굵은 글씨*/
.main_cont.about > b {
    position: absolute;
    font-size: 3.2vmin;
    font-weight: 600;
    line-height: 4.5vmin;
    z-index: 999;
    top: 20.5vmin;
    left: 7vmin;
    opacity: 0;
}

/*자기소개 글*/
.introText {
    position: absolute;
    left: 7vmin;
    bottom: 13vmin;
    font-size: 1.9vmin;
    line-height: 2.9vmin;
    font-weight: 400;
    color: #4e4743;
    opacity: 0;
}


/* 오른쪽 영역 ************************************/
.about_list {
    padding: 5vmin 8.5vmin;
}

/*프로필*/
.list_box {
    display: flex;
    padding: 3.2vmin 3.7vmin;
    border-bottom: 1px solid #9D9781;
}

.list_box.list_skill {
    border-bottom: none;
    display: block;
}

.list_title {
    font-family: 'Rock Salt', cursive;
    color: #9E6853;
    font-size: 1.7vmin;
    line-height: 3.8vmin;
    width: 160px;
}

.list_text {
    line-height: 3.3vmin;
    font-size: 1.85vmin;
    font-weight: 400;
    color: #4a473c;
}

/*자격증*/
.list_title.licen {
    font-size: 2.4vmin;
}



/*스킬*/
.list_skill {
    position: relative;
    height: 58vmin;
}



/*탐쌤버전 svg*/
.btnsvg_box {
    position: relative;
    width: 100%;
    height: 100%;
}

/*버튼박스*/
.btns {
    position: absolute;
    width: 17vmin;
    height: 17vmin;
    margin: 0 auto;
    /*가로중앙정렬*/
    border-radius: 50%;
    /*원*/
    text-align: center;
    font: bold 4vmin/13.5vmin 'Montserrat';
    color: #222;
    font-style: italic;
}

.btn1 {
    width: 20vmin;
    height: 20vmin;
    left: 54%;
    transform: translateX(-50%);
    top: 15%;
    line-height: 17vmin;
}

.btn2 {
    width: 17.5vmin;
    height: 17.5vmin;
    left: -2%;
    top: 32%;
}

.btn3 {
    right: -10%;
    top: 19%;
    font-size: 4vmin;
    line-height: 14vmin;
}

.btn4 {
    width: 18vmin;
    height: 18vmin;
    left: 21%;
    bottom: 7%;
    font-size: 4vmin;
}

.btn5 {
    width: 18.8vmin;
    height: 18.8vmin;
    line-height: 17vmin;
    bottom: 12%;
    right: 3%;
}


.btn3 h5,
.btn4 h5 {
    line-height: 2.3vmin;
    top: 54%;
    font-size: 1.7vmin;
}

/*svg 설정*/
.btns > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*circle설정 - 속성들이 일러스트레이터 속성과 매우 유사함!*/
.c1 {
    fill: transparent;
    stroke: #9EB685;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 300%;
    stroke-dashoffset: 300%;
}

.c1.c2,
.c1.c5 {
    stroke: #85AEBF;
}

.c1.c3,
.c1.c4 {
    stroke: #d0d1d1;
}

/*스킬 타이틀*/
.skiltit {
    position: absolute;
    font-style: normal;
    font-size: 1.7vmin;
    font-family: 'S-CoreDream';
    font-weight: 400;
    white-space: nowrap;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}
