@charset "UTF-8";

/*컨택 페이지*/

/*사이드 원 색상변경*/
.contCircle {
    background-color: #717D1C;
}


/*왼쪽영역 배경깔기*/
.cont_left {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/contact_bg.jpg) no-repeat center/cover;
}

/*메인 타이틀제목*/
.cont_left h2 {
    text-align: right;
    color: #4A4AC9;
    line-height: 4.8vmin;
    font-size: 2.3vmin;
    font-family: 'Rock Salt', cursive;
    padding: 5vmin 6vmin 0 0;
    text-transform: uppercase;
}

.cont_left small {
    font-family: 'S-CoreDream', sans-serif;
    color: #4A473C;
    font-size: 1.6vmin;
    line-height: 28px;
    display: block;
}

/*리스트 목록 박스*/
.favoList {
    position: relative;
    width: 90%;
    margin: 3vmin auto;
    border-top: 1px solid #333;

}

.favoList li {
    display: flex;
    height: 21.5vmin;
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 2.2vmin;
}

/*목록 이미지들*/
.favolist_img {
    width: 16vmin;
    margin-right: 3.3vmin;
}

/*목록 내용*/
.favoList li p {
    line-height: 2.8vmin;
    font-family: 'S-CoreDream', sans-serif;
    color: #4A473C;
}

/*목록 제목*/
.favoList li b {
    display: block;
    font-family: 'Secular One', sans-serif;
    font-size: 1.8vmin;
    letter-spacing: 1px;
}



/* 오른쪽 *********************************************/
.cont_right {
    width: 100%;
    height: 100%;
    position: relative;
}


.contact_info {
    position: absolute;
    left: 10%;
    bottom: 25%;
}

.contact_info li {
    display: flex;
    font-size: 1.9vmin;
    line-height: 6vmin;
    font-family: 'Montserrat', sans-serif;
}

.contact_info h5 {
    font-family: 'Rock Salt', cursive;
    color: #9E6853;
    width: 15vmin;
    font-size: 2vmin;
    line-height: 6.5vmin;
}


/*이력서, 이메일 버튼*/
.contactBtn {
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 10.5%;
    transform: translateX(-50%);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.contactBtn > div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 3% 0 5%;
}


.contactBtn > div > a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vmin;
    text-align: left;
}

.contactBtn > div:first-child {
    border-bottom: 1px solid #333;
}

.contactBox {
    display: flex;
}

.cta-arrow {
    max-width: 55px;
    flex-grow: 1;
    margin-left: auto;
    margin-right: 15px;
    padding: 23px 0;
}

.cta-arrow .line {
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
}

.cta-arrow .line:after,
.cta-arrow .line:before {
    background: inherit;
    position: absolute;
    width: 15px;
    height: 2px;
    content: "";
    right: 0;
}

.cta-arrow .line:before {
    transform: rotate(-50deg);
    transform-origin: top right;
}

.cta-arrow .line:after {
    transform: rotate(50deg);
    transform-origin: bottom right;
}


/*호버시*/
.marquee {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
}

.resume.contactBox:hover .marquee {
    opacity: 1;
}

.email.contactBox:hover .marquee {
    opacity: 1;
}

.marquee a {
    font-size: 1.7vmin;
    display: block;
    font-family: 'S-CoreDream', sans-serif;
    font-weight: 500;
    padding: 0 30px;
    text-align: center;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes marquee {
    from {
        transform: translate(0%);
    }

    99%,
    to {
        transform: translate(-100%);
    }
}


/* 이메일 , 폰 언더라인*/
.under_line {
    position: relative;
    z-index: 2;
}

.under_line::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2.5vmin;
    width: 0;
    height: 0.8vmin;
    z-index: -1;
    transition: all .4s ease-out;
    background: rgba(239, 60, 60, 0.5);
}

.under_line:hover::before {
    width: 100%;
}