@charset "utf-8";
/* portfolio.css - 포폴 페이지 */


/*왼쪽페이지*/
.book_left,
.book_right {
    display: flex;
}

.sideCont {
    position: relative;
    width: 8.5vmin;
    font-family: 'Noto Sans KR', sans-serif;
    border-right: 1px solid #333;
    padding-top: 9%;
}

/*사이드 페이지번호*/
.sidePaging {
    position: absolute;
    top: 6.5vmin;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    font-size: 3.5vmin;
    font-weight: 700;
}

/*사이드 페이지 동그라미*/
.sideCircle {
    display: block;
    width: 3vmin;
    height: 3vmin;
    border-radius: 50%;
    background-color: #E6CA88;
    margin-left: 36px;
    margin-top: -13px;

}

/*사이드 목차텍스트*/
.sideContxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    /*글씨 세로 타이핑*/
    font-family: 'Roboto Mono', monospace;
    font-size: 2.1vmin;
    font-weight: 400;
    letter-spacing: 11px;
}


/*포트폴리오 내용*/
.pofol_info {
    position: relative;
    left: 12vmin;
    top: 15vmin;
    width: 37vmin;
    color: #4A473C;
    font-size: 2.3vmin;
    font-weight: 900;
    text-align: right;
}


.pofol_tit {
    font-family: 'Secular One', sans-serif;
    font-size: 5vmin;
    padding-bottom: 5px;
}

.pofol_info p {
    line-height: 3.2vmin;
    font-weight: 400;
}

.pofol_info small {
    font-size: 2vmin;
}


/*다이아몬드 모양*/
.pofol_icon {
    position: absolute;
    top: 3.3vmin;
    right: -2.9vmin;
    width: 0.8vmin;
    height: 0.8vmin;
    background-color: #333;
    transform: rotate(45deg);
}

/*사이트뷰 버튼*/
.viewBtn {
    position: relative;
    display: block;
    overflow: hidden;
    width: 13vmin;
    height: 4.6vmin;
    line-height: 4.6vmin;
    margin: 1rem 0 1rem auto;
    border: 1px solid #4A473C;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.47vmin;
    text-align: center;
    font-weight: 500;
    color: #4A473C;
}

.viewBtn span {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 3;
}

.viewBtn:before,
.viewBtn:after {
    transition: 0.5s ease-in-out;
}

.viewBtn:after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #4A473C;
    transform: translateX(-100%);
    z-index: 2;
}

.viewBtn:hover {
    color: #fff;
}

.viewBtn:hover:after {
    transform: translateX(0);
}

/*아이패드 - viewBtn*/
.viewBtn.media {
    position: absolute;
    width: 20vmin;
    height: 6vmin;
    line-height: 6vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    font-size: 2.3vmin;
    display: none;
}

.viewBtn.media span {
    color: #fff;
}




/*포폴 동영상*/
.pofol_1 {
    position: absolute;
    width: 58vmin;
    height: 35vmin;
    bottom: 13vmin;
    left: 12vmin;
    z-index: 999;
}


/*오른쪽 페이지*/
.book_right {
    display: flex;
    position: relative;
}


/*포폴 페이지사진*/
.pofol_img {
    position: relative;
    top: 11vmin;
    right: 10vmin;
    width: 75vmin;
    height: 47vmin;
    background: url(../images/pofoli_1.jpg) no-repeat center/cover;
}

/*박스 옆 선*/
.pofol_img::before {
    content: '';
    display: block;
    width: 13vmin;
    height: 1px;
    background-color: #333;
    position: absolute;
    top: 7.6vmin;
    right: 100%;
}

/*반투명박스*/
.pofol_img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

/*오른쪽 사이드 목차*/
.sideCont.right {
    position: relative;
    margin-left: auto;
    border-left: 1px solid #333;
    border-right: none;
}


/*사이드 페이지번호*/
.sidePaging.right {
    bottom: 6.5vmin;
    top: auto;
}


/*포폴 컨셉, 내용*/
.pofol_about {
    position: absolute;
    left: 10vmin;
    bottom: 14vmin;
    text-align: inherit;
    vertical-align: top;

}


.poabout_top,
.pofol_bottom {
    display: flex;
}

.poabout_top {
    padding-bottom: 35px;
}

.poabout_tit {
    width: 140px;
    font-family: 'Rock Salt', cursive;
    color: #9E6853;
    font-size: 2.3vmin;
    line-height: 2.3vmin;
}

.poabout_cont {
    font-size: 1.9vmin;
    line-height: 3.3vmin;
    font-weight: 400;
    color: #4e4743;
}



/*포트폴리오 2번 페이지 *****************************************/

/*레인디어 사이트 이미지 변경*/
.pofol_img.rein_img {
    background: url(../images/pofoli_2.jpg) no-repeat center/cover;
}

/*반응형 웹 글씨*/
.pofol_tit > small {
    display: block;
    font-size: 4vmin;
    margin-top: -18px;
}


/*포트폴리오 3번 페이지(공동작업) *****************************************/
.proj_list.media {
    display: none;
}


.pofol3_info {
    position: relative;
    left: 15vmin;
    top: 12vmin;
    color: #4e4743;
}

.pofol3_info .pofol_tit,
.pofol3_info p {
    display: inline-block;
    vertical-align: top;
    /*글씨 세로정렬*/
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.pofol3_info .pofol_tit {
    font-size: 5vmin;
    line-height: 5vmin;
    letter-spacing: -1.3vmin;
    padding-left: 0;
}

.pofol_tit .pofol_icon {
    display: none;
}

.pofol3_info p {
    padding-top: 2%;
    line-height: 3.2vmin;
    font-weight: 400;
    font-size: 2.3vmin;
}

/*오른쪽 영역*/
.main_cont.porj_wrap {
    width: 48vw;
    height: 90vh;
    margin: auto 0;
    margin-left: -14vw;
}

/*포폴 리스트들*/
.proj_list {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.proj {
    display: flex;
    align-items: center;
    width: 100%;
    height: 16.5vmin;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    transition: all .3s ease-out;
}

.proj.proj_1 {
    border-top: 1px solid #333;
}

.proj .proj_num {
    width: 24%;
    line-height: 170px;
    text-align: center;
    font-size: 5.4vmin;
    font-family: 'Montserrat', sans-serif;
}

.proj .proj_img {
    position: relative;
    width: 28%;
    height: 100%;
    display: block;
}

.proj .proj_img a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

/*호버시 반투명박스*/
.proj:hover .proj_img a {
    opacity: 1;
}

.proj .proj_info {
    padding-left: 5%;
    color: #4E4743;
    font-family: 'Noto Sans KR', sans-serif;
    white-space: nowrap;
}

.proj .porj_tit {
    font-size: 2.7vmin;
    font-weight: bold;
    padding-bottom: 5%;
}

.proj .proj_info p {
    font-size: 2.1vmin;
    font-weight: 300;
}

.proj .proj_arrow {
    margin: 0 auto;
}

.proj .proj_arrow a {
    display: block;
    padding: 2vmin;
}

/*1번 이미지*/
.proj_1 .proj_img {
    background: url(../images/proj_1.jpg) no-repeat center/cover;
}

/*2번*/
.proj_2 .proj_img {
    background: url(../images/proj_2.jpg) no-repeat center/cover;
}

/*3번*/
.proj_3 .proj_img {
    background: url(../images/proj_3.jpg) no-repeat center/cover;
}


/*이미지 흘러가는 글씨*/
.proj.on .marquee {
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}

.proj .marquee p {
    padding: 0 20px;
    font-size: 2vmin;
    font-style: italic;
    color: #fff;
}




.prot_nextBtn.proj_3 {
    bottom: -2.4%;
    right: -1.3%;
}
